.chat-interface {
    box-sizing: border-box;
    flex: 1;
    padding: 0.5rem 0.5rem 2rem 0.5rem;

    display: flex;
    flex-direction: column;
    
}
.chat-interface header {
    height: 52px;

    cursor: pointer;
}
.chat-interface header p {
    margin-block: 0rem;
    padding: 0.5rem;
    font-size: 18px;
}
.chat-interface header:hover p, .chat-interface header:focus-visible p {
    width: fit-content;
    background-color: var(--bg-elevated-secondary);
    border-radius: 0.375rem;
    cursor: pointer;
}
.chat-interactions {
    padding-inline: 1rem;
    /* flex: 1; */
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.chat-interactions article {
    margin-inline: auto;
    max-width: 50rem;
}
.user-message {
    padding: 1rem;
    margin-left: auto;
    max-width: 30rem;
    border-radius: 1rem;
    background-color: var(--theme-user-msg-bg);
    color: var(--theme-user-msg-text);;
}
.assistant-message {
    padding: 1rem;
}
.chat-input {
    margin-inline: auto;
    padding: 0.5rem;
    max-width: 50rem;
    border: solid 1px var(--border-heavy);
    border-radius: 0.5rem;;
}
.input-area {
    border-radius: inherit;
    padding: 0.5rem;
    display: block;
    width: 100%;
    resize: none;
    border: none;
}
.input-area:focus {
    outline: none;
}
.feature-section {
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send-button {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--bg-primary-inverted);

    display: grid;
    place-items: center;
}
.send-button:focus-visible {
    outline: solid 3px var(--border-heavy)
}
.send-button:hover {
    cursor: pointer;
}
.send-button svg {
    width: 20px;
    height: 20px;
    fill: var(--bg-primary);
}